@(usuarios: List[Usuario])

@main("Conecta2") {

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th><h2>Nombre</h2></th>
                <th><h2>E-mail</h2></th>
                <th><h2>Fecha de nacimiento</h2></th>
                <th><h2>Acciones</h2></th>
            </tr>
        </thead>

      @for(usuario <- usuarios){

          <tr>
              <th scope=row><h4>@usuario.nombre</h4></th>
              <td><h4>@usuario.email</h4></td>
              <td><h4>@usuario.cumpleanios</h4></td>
              <td><h4><a href=@routes.UsuarioController.mostrar(usuario.id)>Ver más</h4></td>
          </tr>

      }
    </table>

}
