@(usuario: Usuario)

@main("Conecta2") {

    @if(usuario != null) {
        <p><b>Nombre: </b>@usuario.nombre</p>
        <p><b>Correo electrónico: </b>@usuario.email</p>
        <p><b>Fecha de nacimiento: </b>@usuario.cumpleanios.getDate/@usuario.cumpleanios.getMonth/@(usuario.cumpleanios.getYear+1900)</p>
        <a href=@routes.UsuarioController.editar(usuario.id)>
            <input type="button" value="Editar" />
        </a>
        <a href=@routes.UsuarioController.editar(usuario.id)>
            <input type="button" value="Editar" />
        </a>

        <p><b>Códigos</b></p>
        @for(codigo <- usuario.codigos){
            <p>@codigo.codigo - @codigo.capacidadTotal MB - @codigo.consumido MB - @codigo.cliente.nombre </p>
        }

    }else{
        <p>El usuario que está buscando no existe</p>
    }



}
