@(codigos: List[CodigoQR], cliente: Cliente)

@main("Conecta2 Network"){
  @if(cliente != null) {
    <p><b>Nombre: </b>@cliente.nombre</p>
    <p><b>NIT: </b>@cliente.nit</p>
    <a href=@routes.ClienteController.editar(cliente.id)>
      <input type="button" value="Editar" />
    </a>

    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th><h2>Código</h2></th>
          <th><h2>Capacidad (MB)</h2></th>
          <th><h2>Consumido (MB)</h2></th>
          <th><h2>Acciones</h2></th>
        </tr>
      </thead>
      @for(codigo <- codigos){
        <tr>
          <th scope=row><h4>@codigo.codigo</h4></th>
          <td><h4>@codigo.capacidadTotal</h4></td>
          <td><h4>@codigo.consumido</h4></td>
          <td><h4><a href=@routes.ClienteController.guardarCodigo(cliente.id, codigo.id)>Agregar código</h4></td>
        </tr>
      }
    </table>

  }else{
    <p>El cliente que está buscando no existe</p>
  }

}