@(clientes: List[Cliente])

@main("Conecta2") {

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><h3>Nombre Empresa</h3></th>
        <th><h3>NIT</h3></th>
        <th><h3>Acciones</h3></th>
      </tr>
    </thead>

    @for(cliente <- clientes){

      <tr>
        <th scope=row><h4>@cliente.nombre</h4></th>
        <td><h4>@cliente.nit</h4></td>
        <td><h4><a href=@routes.ClienteController.mostrar(cliente.id)>Ver más</h4></td>
      </tr>

    }
  </table>





}
