@(form: Form[Cliente])

@main("Conecta2") {
  @helper.form(action = routes.ClienteController.guardarNuevo(), 'id -> "client_registration_form", 'method -> "POST") {
    <fieldset>
      @helper.inputText(
        form("nombre"),
        '_label -> "Nombre de la empresa",
        '_showConstraints -> false
      )
      @helper.inputText(
        form("nit"),
        '_label -> "NIT",
        '_showConstraints -> false,
        '_help -> "Este será el usuario de inicio de sesión"
      )
      @helper.inputPassword(
        form("contrasenia"),
        '_label -> "Contraseña",
        '_showConstraints -> false
      )
      @helper.inputPassword(
        form("confirm_password"),
        '_label -> "Confirmar contraseña",
        '_showConstraints -> false
      )
    </fieldset>
    <button type="submit">Registrarse</button>

  }

}


