@(codigo: CodigoQR)

@main("Conecta2") {

  @if(codigo != null) {
    <p><b>Codigo: </b>@codigo.codigo</p>
    <p><b>Capacidad: </b>@codigo.capacidadTotal MB</p>
    <p><b>Consumido: </b>@codigo.consumido MB</p>
    <p><b>Cliente a quien pertenece: </b>@if(codigo.cliente != null){
      @codigo.cliente.nombre
    }else{
      Ninguno
    }</p>
    <p><b>Usuario a quien pertenece: </b>@if(codigo.usuario != null){
      @codigo.usuario.email
    }else{
      Ninguno
    }</p>
  }else{
    <p>El código que está buscando no existe</p>
  }



}
