

@main("Conecta2 Network") {

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Bienvenido a Conecta2</h1>
        <p>Conecta2 es una opción rápida y segura para la conexión a internet en tus centros comerciales favoritos</p>
        <p><a class="btn" href=@routes.UsuarioController.crear()>Registrarse</a>
        <a class="btn" href=@routes.Application.loginUsario()>Iniciar sesión usuario</a>
        <a class="btn" href=@routes.Application.loginCliente()>Iniciar sesión empresa</a>
        <a class="btn" href=@routes.Application.loginPersonal()>Iniciar sesión personal</a></p>
    </div>

        <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <h2>Misión</h2>
            <p>Proveer un servicio de internet libre y seguro bajo demanda a los usuarios de los centros comerciales permitiendo a las tiendas de los mismos obtener una ganancia respecto al servicio.</p>

        </div>
        <div class="span6">
            <h2>Visión</h2>
            <p>Prestar el servicio de WiFi en todos los centros comerciales del pais, facilitando a los visitantes el acceso libre al internet.</p>

        </div>
        <!--
        <div class="span4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>-->
    </div>

    <hr>

    <footer>
        <p>&copy; Conecta2 2016</p>
    </footer>


}
