@(form: DynamicForm)

@main("Conecta2"){
  <form class="form-actions">
  @helper.form(action = routes.Application.loginSubmitPersonal(), 'id -> "user_registration_form", 'method -> "POST"){
    <fieldset>
      @helper.inputText(
        form("username"),
        '_label -> "Nombre de usuario",
        '_showConstraints -> false
      )
      @helper.inputPassword(
        form("password"),
        '_label -> "Contraseña",
        '_showConstraints -> false
      )
    </fieldset>
    <button type="submit">Registrarse</button>

  }
  </form>
}